@import url('../../.cache/wal/colors-waybar.css');
* {
    all: unset;
    background-image: none;
    margin: unset;
    padding: unset;
    transition: 200ms cubic-bezier(0, 0, 1, 1);
}
button {
    font-family: 'CodeNewRoman Nerd Font Mono';
    background-color: alpha(@color9,1);
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

button:hover {
    background-color: alpha(@color0,0.99);
}

#lock {
    background-image: image(url("../../.config/wlogout/lock.png"));
    margin : 4px 4px 4px 25px;
    padding: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
#shutdown {
    background-image: image(url("../../.config/wlogout/power.png"));
    margin : 4px 25px 4px 4px;
    padding: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
#logout {
    background-image: image(url("../../.config/wlogout/logout.png"));
    margin : 4px 25px 4px 4px;
    padding: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}
#reboot {
    background-image: image(url("../../.config/wlogout/restart.png"));
    margin : 4px 4px 4px 25px;
    padding: 2px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.6);
}

#lock:focus {
    margin : 2px 2px 2px 15px;
}
#shutdown:focus {
    margin : 2px 15px 2px 2px;
}
#logout:focus {
    margin : 2px 15px 2px 2px;
}
#reboot:focus {
    margin : 2px 2px 2px 15px;
}
button:focus{
    background-color: alpha(@color5,1);
    color: #000000;
    background-position:center;
}
